[submodule "pack/vendor/start/ale"]
	path = pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/themes/start/cobalt2-vim-theme"]
	path = pack/themes/start/cobalt2-vim-theme
	url = https://github.com/gertjanreynaert/cobalt2-vim-theme.git
[submodule "pack/vendor/start/fzf"]
	path = pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
